<section id="bg_section">
    <div id="content_section">
        <!-- <img id="bgimg" src="assets/event/lobby.jpg" alt=""> -->
        <!-- <img id="bgimg" [src]="lobbyImage" alt=""> -->
        <img id="bgimgvh" src="assets/event/CVRM/cvrmLobby.jpg">
        <ng-container *ngFor="let p of point">
          <div *ngIf="p.is_enabled === true" id="{{p.class}}" data-bs-placement="top"  [ngClass]="p.class" [ngStyle]="{'top':p.top+'%','left':p.left+'%'}" (click)="pointerMethod(p)">
            <div class="pulsating-circle"></div>
          </div>
        </ng-container>   
    </div>
</section>
<!-- <div [ngStyle]="{'display':isVideoPlayed? 'block': 'none'}" class="videoContainer">
  <span id="skip" *ngIf="isVideoPlayed">
    <a class="nav-link sign" (click)="skip()" title="skip" role="button">
        Skip</a>
  </span>
    <video id="pointerVideo" preload="auto" class="videoBg" (ended)="endVideo()" >
      <source src="https://d3ep09c8x21fmh.cloudfront.net/tie_iid/outer.mp4" type="video/mp4">
    </video>
</div> -->
<app-pdfmodal [rName]="sName"></app-pdfmodal>

<div class="modal fade" id="lobby1Modal" tabindex="-1" aria-labelledby="pdf_modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">      
        <div class="modal-body p-0">
          <div id="modal_popup1">
              <div id="close_modal_popup" (click)="closeModal()">&times;</div>    
              <div class="modal-header bg-primary text-white">
                  <h5 class="modal-title" id="pdf_modalLabel">AstraZeneca</h5>
              </div>
              <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                       
                        
                           
                     <!-- <img src="assets/event/CVRM/top-left.jpg" width="100%"class="img-fluid"> -->
                     <img [src]="srcc" width="100%"class="img-fluid">
                  
                    </div>
                  </div>
              </div>
          </div>      
        </div>      
      </div>
    </div>
  </div>

 
  
  





<!-- <button id="startTour" class="start-tour">start tour</button> -->

<!-- <div class="my-title">IntroJS Tour Example</div>
<div class="my-container">
  <div id="one" class="a-section">one</div>
  <div id="two" class="a-section">two</div>
  
  <div class="clear">
    <button id="startTour" class="start-tour">start tour</button>
  </div>
</div> -->

