#bgimgvh{
    width: 100%;
    height: 100vh;
}
#landingVideo{
    position: absolute;
    top: 28.2%;
    width: 13.2%;
    left: 43.6%;
  }
  #modal_popup1{
    border-radius:5px;   
    position: relative;
    top: 3px;
    
}

