#login_section{   
    position: absolute;
    top: 0%;
    width: 20%;
    overflow: hidden;
    // transform: translate(10%, -30%);
    transform: translate(10%, 0%);
    background-color: #34214ca6;
    height: 100vh;
    padding: 20px;

}
input[type="password"], input[type="email"]{
    // background-color: #fff;
    margin-top: 10px;
    background-color: #9070bb;
    // border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 1px 1px;
    border-radius: 0px;
}
#submitBtn{
    // float: left;
    width: 100%;
    #loginbtn{
        margin: 12px 0px;
        background-color: #e8a331;
        color: white;
        border-radius: 0px;
        padding: 12px 28px;
        width: 100%;
    }
}

.form-control{
    padding-top: 1.5rem;
    padding-right: 0.75rem;
    padding-bottom: 1.5rem;
    padding-left: 0.75rem;
}

@media only screen and (max-width: 900px) {
    #login_section {
        width: auto;
        overflow-y: scroll;
    }
  }