<section id="bg_section" [ngStyle]="{'display':isVideoPlayed? 'none':'block'}">
    <div id="content_section">
        <img id="bgimg" src="assets/event/login.jpg" alt="" style="height: 100vh;
        width: 100%;">
        <div id="login_section">
            <img src="assets/event/logo.png" width="100%" alt="">
            <form [formGroup]="loginForm" #loginFormDir="ngForm" (ngSubmit)="submitLogin()">
                <h3 class="text-white">Sign In</h3><br />
                <div class="form-group">
                    <h6 class="text-white">Email ID</h6>
                    <div class="invalidError" *ngIf="(loginForm.get('email').invalid && loginFormDir.submitted) || (loginForm.get('email').dirty && loginForm.get('email').invalid)">
                        Email is Required*
                    </div>
                    <input type="email" class="form-control" required autocomplete="off" formControlName="email" placeholder="example@astrazeneca.com">    
                </div>
                <div class="form-group">
                    <h6 class="text-white">Password</h6>
                    <div class="invalidError" *ngIf="(loginForm.get('password').invalid && loginFormDir.submitted) || (loginForm.get('password').dirty && loginForm.get('password').invalid)">
                        Password is Required*
                    </div>
                    <input type="password" class="form-control" required autocomplete="off" formControlName="password" placeholder="PRID">    
                </div>
                <div id="submitBtn">
                    <input name="login" id="loginbtn" class="btn" type="submit" value="Login">

                </div>
               
            </form>
            <!-- <br>
            <div id="already_reg" class="m-2">
                <p><span class="text-dark">Not Registered?</span> &nbsp; <a routerLink="/signup" class="h6" title="Signup">Signup</a></p>
            </div> -->
        </div>
    </div>
</section>
<div [ngStyle]="{'display':isVideoPlayed? 'block': 'none'}" class="videoContainer">
  <span id="skip" *ngIf="isVideoPlayed">
    <a class="nav-link sign" (click)="skip()" title="skip" role="button">
        Skip</a>
  </span>
    <video id="outerVideo" preload="auto" class="videoBg" (ended)="endVideo()">
      <source src="https://d3ep09c8x21fmh.cloudfront.net/astrazeneca/outer.mp4" type="video/mp4">
    </video>
</div>
<!-- <div id="underprogress">
    <p>Something Awsome will be coming soon...</p>
</div> -->