// #arrowButtons{
//     color: white;
//     #arrLeft,#arrRight{
//         cursor: pointer;
//         position: fixed;
//         bottom: 15%;
//         font-weight: 600;
//         background-color: #e17044;
//         border-radius: 50%;
//         width: 46px;
//         height: 46px;
//         text-align: center;
//         box-shadow: 0 0 5px 2px #e17044;
//         .fa{
//             font-size: 48px;
//             border-radius: 50%;
//             line-height: 46px;
//         }
        
//     }
//     #arrLeft{
//         left: 3%;
//     }
//     #arrRight{
//         right: 3%;
//     }
// }
// #arrLeft:hover, #arrRight:hover{
//     transition: .3s;
//     transform: scale(1.2);
// }

// .p1{
//     top: 50%;
//     left: 34%;
// }
// .p2{
//     top: 50%;
//     left: 64%;
// }
// .p3{
//     top: 74%;
//     left: 24%;
// }
// .p4{
//     top: 74%;
//     left: 79%;
// }



#panorama{
    width: 100%;
    height: 100vh; 
}

// #landingVideo{
//     position: absolute;
//     top: 42%;
//     width: 12%;
//     left: 39.5%;
//   }


  // pulse
  // .pulsating-circle {
  //   position: absolute;
  //   left: 50%;
  //   top: 50%;
  //   transform: translateX(-50%) translateY(-50%);
  //   width: 18px;
  //   height: 18px;
    
  //   &:before {
  //     content: '';
  //     position: relative;
  //     display: block;
  //     width: 300%;
  //     height: 300%;
  //     box-sizing: border-box;
  //     margin-left: -100%;
  //     margin-top: -100%;
  //     border-radius: 45px;
  //     background-color: red;
  //     animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  //   }
    
  //   &:after {
  //     content: '';
  //     position: absolute;
  //     left: 0; 
  //     top: 0;
  //     display: block;
  //     width: 100%;
  //     height: 100%;
  //     background-color: red;
  //     border-radius: 15px;
  //     box-shadow: 0 0 8px rgba(0,0,0,.3);
  //     animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
  //   }
  // }
  
  // @keyframes pulse-ring {
  //   0% {
  //     transform: scale(.33);
  //   }
  //   80%, 100% {
  //     opacity: 0;
  //   }
  // }
  
  // @keyframes pulse-dot {
  //   0% {
  //     transform: scale(.8);
  //   }
  //   50% {
  //     transform: scale(1);
  //   }
  //   100% {
  //     transform: scale(.8);
  //   }
  // }

  // .pop_btn {
  //   padding: 1rem;
  //   border: 0;
  //   background: transparent;
  //   position: relative;
  //   right: 10px;
  // }
  

  
  // .popup-container {
  //   position: fixed;
  //   width: 100%;
  //   height: 100%;
  //   background-color: rgba(0,0,0,.4);
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }
  
  // .popup {
  //   width: 400px;
  //   height: 400px;
  //   background-color: white;
  // }




* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  

  
  .panorama {
    width: 100%;
    height: 100vh;
    padding-right: 15px;
  }
  // video {
  //   width: 100vw;
  //   height: 100vh;
  // }
  // .video_section {
  //   z-index: 9999;
  //   height: 100vh;
  //   overflow: hidden;
  //   width: 100%;
  //   max-width: 100%;
  //   margin: auto;
  //   position: relative;
  // }
  // .video_class {
  //   object-fit: cover;
  //   width: 100%;
  //   height: auto;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  // }
  // /* popup css code */
  // #panel {
  //   display: none;
  // }
  // .pop-text {
  //   position: fixed;
  //   color: #fff;
  //   z-index: 999999;
  //   background: #e89f1c;
  //   padding: 6px 20px;
  //   font-size: 16px;
  //   text-transform: uppercase;
  //   top: 6px;
  //   right: 7px;
  //   opacity: 1;
  //   text-shadow: none;
  //   font-weight: 500;
  //   cursor: pointer;
  // }
  // .pulse-button {
  //   position: absolute !important;
  //   color: white !important;
  //   padding: 4px !important;
  //   font-size: 10px !important;
  //   width: 15px !important;
  //   height: 15px !important;
  //   border-radius: 50% !important;
  //   border: none !important;
  //   box-shadow: 0 0 0 0 rgb(224 34 34 / 70%) !important;
  //   background-color: #cf1220 !important;
  //   background-size: cover !important;
  //   cursor: pointer !important;
  //   -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1) !important ;
  //   -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  //   -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  //   animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  //   right: 2px;
  //   top: 13px;
  // }
 
 
  // .pop_btn {
  //   padding: 1rem;
  //   border: 0;
  //   background: transparent;
  //   position: relative;
  //   right: 10px;
  // }
  

  
  // .popup-container {
  //   position: fixed;
  //   width: 100%;
  //   height: 100%;
  //   background-color: rgba(0,0,0,.4);
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }
  
  // .popup {
  //   width: 400px;
  //   height: 400px;
  //   background-color: white;
  // }

  // #modal-video{
  //   border-radius:5px; 
  //   padding: 0 3px;   
  //   position: relative;
  //   top: 3px;
  //   width:100%;
  //   #closePopup{
  //       position: absolute;
  //       top: -16px;
  //       right: -16px;
  //       line-height: 35px;
  //     font-size: 38px;
  //       background: #e40e38;
  //       border-radius: 50%;
  //       height: 30px;
  //       width: 30px;
  //       text-align: center;
  //       color: white;
  //       font-weight: 500;
  //       z-index: 1000;
  //       cursor: pointer;
  //   }
  // }


  

  



  
