<div id="panorama"></div>

<!-- <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" style="max-width: 70%; position: absolute;
    left: 50%;
    top: 14%;
    width:100%;
    transform: translate(-50%, -50%);">
        <div class="modal-content" style="background: transparent;border:0px">
            <div class="modal-header bg-white">
                <h5 class="modal-title" id="exampleModalLabel">{{images[selectedIndex]['name'] | titlecase}}</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button> 
            </div>
            <div class="modal-body p-0">
                <video class="video_class"  width="100%" preload="auto" id="myvideo" playsinline="" controls="">
                    <source [src]="selectedImage" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div> -->
<!-- https://d3ep09c8x21fmh.cloudfront.net/tie_iid/outer.mp4 -->
<!-- <div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content" style="background: transparent;border:0px">
            <div class="modal-header bg-white">
                <h5 class="modal-title" id="exampleModalLabel">{{images[selectedIndex]['name'] | titlecase}}</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button> 
            </div>
            <div class="modal-body p-0">
                
              
                <div *ngIf="!isSelectedMp4">
                <embed [src]="selectedImage" frameborder="0" width="100%" >

                </div>
                <div *ngIf="isSelectedMp4">
                    <video class="video_class"  width="100%" preload="auto" id="myvideo" playsinline="" controls="">
                            <source [src]="selectedImage" type="video/mp4">
                        </video>
                    </div>
            </div>
        </div>
    </div>
</div> -->
<div class="modal fade" id="popupbreakout_modal" tabindex="-1" aria-labelledby="pdf_modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div id="modal_popup">
                   <div id="close_modal_popup" (click)="closeModal()">&times;</div> 
                    <div class="modal-header bg-primary text-white">
                        <!-- <h5 class="modal-title" id="pdf_modalLabel">{{images[selectedIndex]['name'] | titlecase}}</h5> -->
                        <h5 class="modal-title" id="pdf_modalLabel">AstraZeneca</h5>

                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12 col-xl-12 p-0" style="text-align: center;">
                                <div *ngIf="!isSelectedMp4">
                                 
                                    <!-- <img src="{{selectedImage}}" width="100%" alt=""> -->
                                    <embed [src]="selectedImage" frameborder="0" width="100%" height="620">


                                </div>
                                <div *ngIf="isSelectedMp4">
                                    <video class="video_class"  width="100%" preload="auto" id="myVideo2" playsinline=""
                                        controls="">
                                        <source [src]="selectedImage" type="video/mp4">
                                    </video>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>