<section id="bg_section" [ngStyle]="{'display':isVideoPlayed? 'none':'block'}">
    <div id="content_section">
        <!-- <img id="bgimg" src="assets/event/lobby.jpg" alt=""> -->
        <!-- <img id="bgimg" [src]="lobbyImage" alt=""> -->
        <video autoplay loop src="https://d3ep09c8x21fmh.cloudfront.net/astrazeneca/bg.mp4" width="100%"></video>
        <ng-container *ngFor="let p of pointers">
          <div *ngIf="p.is_enabled === true" data-bs-toggle="tooltip" id="{{p.class}}" data-bs-placement="top" [ngClass]="p.class" [ngStyle]="{'top':p.top+'%','left':p.left+'%'}" (click)="pointerMethod(p)">
            <div class="pulsating-circle"></div>
          </div>
        </ng-container>   
        <div id="landingVideo">
          <video id="video" preload="auto" autoplay loop playsinline=""  src="https://d3ep09c8x21fmh.cloudfront.net/astrazeneca/lobby_video.mp4" width="100%" controls="">

          </video>
        </div>     
    </div>
</section>
<div [ngStyle]="{'display':isVideoPlayed? 'block': 'none'}" class="videoContainer">
  <span id="skip" *ngIf="isVideoPlayed">
    <a class="nav-link sign" (click)="skip()" title="skip" role="button">
        Skip</a>
  </span>
    <video id="pointerVideo" preload="auto" class="videoBg" (ended)="endVideo()" >
      <source src="https://d3ep09c8x21fmh.cloudfront.net/tie_iid/outer.mp4" type="video/mp4">
    </video>
</div>
<app-pdfmodal [rName]="sName"></app-pdfmodal>



 
  
  





<!-- <button id="startTour" class="start-tour">start tour</button> -->

<!-- <div class="my-title">IntroJS Tour Example</div>
<div class="my-container">
  <div id="one" class="a-section">one</div>
  <div id="two" class="a-section">two</div>
  
  <div class="clear">
    <button id="startTour" class="start-tour">start tour</button>
  </div>
</div> -->

