<span id="signout">
    <a id="funBtn" class="submitBtn" (click)="submitPageAnalytics('click_Logout');exit();"  data-bs-toggle="tooltip"  role="button">
        Logout 
    </a>
    </span>
<div class="livemsg" id="countdown" style="display: none;">

</div>
<span id="goBack" [ngStyle]="{'display': (router.url.includes('auditorium') || router.url.includes('exhibition') || router.url.includes('lobby1') || router.url.includes('lobby2'))?'block':'none'}">
    <a id="funBtn" class="submitBtn" (click)="gotoBack()" data-bs-toggle="tooltip" role="button">
        Back 
    </a>
</span>
<router-outlet></router-outlet>
<app-menu (outputMenu)="readOutputMenu($event)"></app-menu>
<app-briefcase-modal></app-briefcase-modal>
<app-leaderboard-modal></app-leaderboard-modal>
<app-welcome-chat></app-welcome-chat>


<div class="modal fade" id="test_modal" tabindex="-1" aria-labelledby="pdf_modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" >
      <div class="modal-content">      
        <div class="modal-body p-0">
          <div id="modal_popup">
              <div id="close_modal_popup" (click)="closeModal()">&times;</div>    
              <div class="modal-header bg-primary text-white p-3">
                  <h5 class="modal-title" id="pdf_modalLabel">Helpdesk</h5>
              </div>
              <div class="container-fluid p-3">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                      <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                           Question1:- Where to find the Code of Ethics and SOPs?
                          </button>
                        </h2>
                      </div>
                  
                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body mb-0">
                            Nucleus Site and Mindtickle
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Question 2:-What to do in case original invoice or reciept is lost?
                          </button>
                        </h2>
                      </div>
                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            You explain the situation to your manager and seek guidance to proceed further
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Question 3:-What is Conflict of Interest?
                          </button>
                        </h2>
                      </div>
                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            Anything that might cause a potential improper influence to your work related decisions is Conflict of Interest                        </div>
                      </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                              Question 4:-What to do in case you have a potential conflict of interest (COI) situation?
                            </button>
                          </h2>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                          <div class="card-body">
                            You inform your manager about the conflict of interest and once cleared, let the concerned team initiate the vendor onboarding process for new vendors as per process                        </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingFive">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="ollapseFive">
                              Question 5:-Can we speak about AstraZeneca in personal posts in Social media?
                            </button>
                          </h2>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                          <div class="card-body">
                            While engaging in Social Media, you cannot talk about AstraZeneca as an employer </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingSix">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                              Question 6:-What are some of the actions to be taken for engaging with Third Parties;?
                            </button>
                          </h2>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                          <div class="card-body">
                            Performing Due Diligence, Get internal approvals, Sign a contract </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingSeven">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                              Question 7:-What is personal information?
                            </button>
                          </h2>
                        </div>
                        <div id="collapseSeven" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                          <div class="card-body">
                            Name, Email Address, Biometric data, telephone or mobile numbers, etc</div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingEight">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                              Question 8:-What do I do if I want to raise a concern or if I want to report, bribery, corruption or fraud or something unethical in the company?
                            </button>
                          </h2>
                        </div>
                        <div id="collapseEight" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                          <div class="card-body">
                            Talk to the Line Manager, HR, Compliance partners, Legal or raise in AZEthics.com,  </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingNine">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                              Question 9:-What do you do if a vendor or third party asks for a gift?
                            </button>
                          </h2>
                        </div>
                        <div id="collapseNine" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                          <div class="card-body">
                            Politely decline the request as it is against our policy on Anti-Bribery and Anti-Corruption </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingTen">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                              Question 10:-As per our ABAC Policy, what are some examples of "Something of Value"?
                            </button>
                          </h2>
                        </div>
                        <div id="collapseTen" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                          <div class="card-body">
                            Cash and Gifts, generous contract terms, anything that could provide unethical benefit to another person.  </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingEleven">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                              Question 11:-What is the mode of Payments to third party for services?
                            </button>
                          </h2>
                        </div>
                        <div id="collapseEleven" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                          <div class="card-body">
                            AZ approved financial payment systems such as bank transfer, cheque payment, company credit card etc </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingTwelve">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                              Question 12:-What is the principle when we pay HCPs and other service providers fees for service (FFS)??
                            </button>
                          </h2>
                        </div>
                        <div id="collapseTwelve" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                          <div class="card-body">
                            Fair Market Value </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingThirteen">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                              Question 13:-What are the documents required for Sponsorship?
                            </button>
                          </h2>
                        </div>
                        <div id="collapseThirteen" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                          <div class="card-body">
                            Request letter, Agenda, Brochure, Agreement </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingFourteen">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                              Question 14:-Do we give or accept cash or cash equivalents as gifts to HCPs?
                            </button>
                          </h2>
                        </div>
                        <div id="collapseFourteen" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                          <div class="card-body">
                              No </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingFifthteen">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFifthteen" aria-expanded="false" aria-controls="collapseFifthteen">
                              Question 15:-Who approves all items of value and hospitality to HCPs, HCO’s and payors, as well as for patients?
                            </button>
                          </h2>
                        </div>
                        <div id="collapseFifthteen" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                          <div class="card-body">
                            Nominated Signatory </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingSixteen">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
                              Question 16:-How can we interact with patients?
                            </button>
                          </h2>
                        </div>
                        <div id="collapseSixteen" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                          <div class="card-body">
                            We first get appropriate approval and make sure we have a patient’s consent before we contact patients  </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingSeventeen">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
                              Question 17:-What are considered as patient interactions?
                            </button>
                          </h2>
                        </div>
                        <div id="collapseSeventeen" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                          <div class="card-body">
                            Being approached by a patient in a public setting, Scheduled interaction with a patient or a group of patients willing to share their health journey with AZ, seeking views and opinions from patients </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingEighteen">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseEighteen" aria-expanded="false" aria-controls="collapseEighteen">
                              Question 18:-What do we do if we receive a question on AZ products from a patient,?
                            </button>
                          </h2>
                        </div>
                        <div id="collapseEighteen" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                          <div class="card-body">
                            Refer the patient to their HCP as the question involves a medical advice  </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingNineteen">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseNineteen" aria-expanded="false" aria-controls="collapseNineteen">
                              Question 19:-Do we promote our products for unapproved uses?
                            </button>
                          </h2>
                        </div>
                        <div id="collapseNineteen" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                          <div class="card-body">
                            No </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingTwenty">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwenty" aria-expanded="false" aria-controls="collapseTwenty">
                              Question 20:-Who approves and sign off Promotional Materials??
                            </button>
                          </h2>
                        </div>
                        <div id="collapseTwenty" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                          <div class="card-body">
                            Nominated Signatory </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingTwentyone">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwentyone" aria-expanded="false" aria-controls="ollapseTwentyone">
                              Question 21:-Is it ok to use the photographs of HCPs  in Promotional Materials?
                            </button>
                          </h2>
                        </div>
                        <div id="collapseTwentyone" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                          <div class="card-body">
                            No </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingTwentytwo">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwentytwo" aria-expanded="false" aria-controls="collapseTwentytwo">
                              Question 22:-Can we contribute or post information to any Internet forum or social media site on behalf of AZ without prior authorization?
                            </button>
                          </h2>
                        </div>
                        <div id="collapseTwentytwo" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                          <div class="card-body">
                            No  </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header" id="headingTwentythree">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwentythree" aria-expanded="false" aria-controls="collapseTwentythree">
                              Question 22:-Can we use or make reference to AZ email address when engaging in social media for personal use?
                            </button>
                          </h2>
                        </div>
                        <div id="collapseTwentythree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                          <div class="card-body">
                            No  </div>
                        </div>
                      </div>
                  </div>
                  <div class="mt-3">
                    <button class="btn btn-primary" (click)="openHeldesk()">Still have Question go to helpdesk</button>
                  </div>
              </div>
            </div>
            
        </div>
    </div>
    </div>
</div>
 
