#signout, #goBack{
    position: fixed;
    top: 20px;
    z-index: 100;
    // border: 1px solid #060a39;
    // border-radius: 25px;
    // cursor: pointer;
    a{
        text-transform: capitalize;
        text-decoration: none;
        font-size: 16px;
        transition: .3s;
        background: white;
        color: #4a4848;
        box-shadow: 0 0 4px 4px #e17044;
    
    }    
}
#submitBtn:hover{
    transform: scale(1.5);
}
#signout{
    right: 10px;
}
#goBack{
    left: 35px;
}
#funBtn:hover{
    font-size: 18px;
}

.livemsg{
    position: absolute;
    top: 10px;
    left: 0px;
    right: 0;
    background-color: #b07e26;
    z-index: 9999;
    height: 10vh;
    width: 20vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 27px;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
  }



